@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Rowdies:wght@300;400;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 50px 0 100px;
    background-image: radial-gradient(
        circle,
        rgb(255, 255, 255),
        rgb(151, 151, 151),
        rgb(110, 110, 110)
    );

    font-family: Rowdies, sans-serif;

}

h1 {
    margin-bottom: 140px;
    text-align: center;
    color: #000000;
    font-weight: 800;
    font-size: 52px;
}

:root {
    --swiper-pagination-bottom: 0px;
    --swiper-theme-color: black;
}

.swiper {
    margin: 0 auto;
    width: 650px;
    padding-bottom: 50px;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
}  

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select: none;
}